/*      #######                                               */
/*   ###       ###                                            */
/*  ##   ## ##   ##   F: index.css                            */
/*       ## ##                                                */
/*                    C: 2022/06/15 16:15:02 by:dnettoRaw     */
/*  ##   ## ##   ##   U: 2022/06/15 16:15:04 by:dnettoRaw     */
/*    ###########                                             */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
